openapi: 3.2.0
info:
  title: Appen Platform Job Results API
  version: 1.0.0
  description: '# Introduction

    Hello, and welcome to Appen, the leading data annotation platform for Machine Learning.'
  license:
    name: Licensed under Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.appen.com/privacy-statement/
  contact:
    email: help@appen.com
servers:
- url: https://api.appen.com/v1
  description: Production Server
tags:
- name: Job Results
  description: Request rows, judgments, and reports.
  externalDocs:
    url: https://success.appen.com/hc/en-us/articles/202703435-Jobs-Resource-Attributes
paths:
  /jobs/{job_id}/units/{unit_id}.json:
    get:
      tags:
      - Job Results
      summary: Get data for a Unit
      description: 'Get source data, all judgments and aggregate result for a specified

        row.'
      parameters:
      - $ref: '#/components/parameters/job_id'
      - $ref: '#/components/parameters/api_key'
      - $ref: '#/components/parameters/unit_id'
      responses:
        '200':
          description: 'JSON object comprising judgment count, row state, and timestamp

            values.

            '
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/unit'
      x-code-samples:
      - lang: Shell
        label: cURL
        source: 'curl -X GET \

          "https://api.appen.com/v1/jobs/{job_id}/units/{unit_id}.json" \

          -H "Authorization: Token token={api_key}"

          '
      operationId: getJobsByJobIdUnits{unitId}Json
      x-operation-id-source: derived
  /jobs/{job_id}/regenerate.json:
    post:
      tags:
      - Job Results
      summary: Regenerate a job report
      description: Regenerate a report of job output. See below for available report types.
      parameters:
      - $ref: '#/components/parameters/job_id'
      - $ref: '#/components/parameters/api_key'
      - $ref: '#/components/parameters/type'
      responses:
        '302':
          description: redirect
      x-code-samples:
      - lang: Shell
        label: cURL
        source: 'curl -X POST \

          "https://api.appen.com/v1/jobs/{job_id}/regenerate" \

          -d "type=aggregated" \

          -H "Authorization: Token token={api_key}" \

          '
      operationId: postJobsByJobIdRegenerateJson
      x-operation-id-source: derived
  /jobs/{job_id}.csv:
    post:
      tags:
      - Job Results
      summary: Download a job report
      description: Download a report from a job.
      parameters:
      - $ref: '#/components/parameters/job_id'
      - $ref: '#/components/parameters/api_key'
      - $ref: '#/components/parameters/type'
      - in: query
        name: filename
        required: true
        description: Name the output file
        schema:
          type: string
      responses:
        '201':
          description: created
      x-code-samples:
      - lang: Shell
        label: cURL
        source: 'curl -L -X GET \

          "https://api.appen.com/v1/jobs/{job_id}.csv" \

          -d "type=aggregated" \

          -H "Authorization: Token token={api_key}" \ \

          -o "output_filename.zip"

          '
      operationId: postJobs{jobId}Csv
      x-operation-id-source: derived
  /jobs/{job_id}/units/{unit_id}/judgments.json:
    get:
      tags:
      - Job Results
      summary: Get all judgments w/aggregated responses
      description: Get all judgments and aggregated responses per row
      parameters:
      - $ref: '#/components/parameters/job_id'
      - $ref: '#/components/parameters/api_key'
      - $ref: '#/components/parameters/unit_id'
      responses:
        '200':
          description: 'JSON array of all Judgments received for the Row indicated in the

            request.

            '
      x-code-samples:
      - lang: Shell
        label: cURL
        source: 'curl -X GET \

          "https://api.appen.com/v1/jobs/{job_id}/units/{unit_id}/judgments.json" \

          -H "Authorization: Token token={api_key}" \

          '
      operationId: getJobsByJobIdUnitsByUnitIdJudgmentsJson
      x-operation-id-source: derived
  /jobs/{job_id}/judgments.json:
    get:
      tags:
      - Job Results
      summary: Get rows with judgments
      description: Get rows and their judgments
      parameters:
      - $ref: '#/components/parameters/job_id'
      - $ref: '#/components/parameters/api_key'
      - in: query
        name: page
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: 'JSON array of 100 rows with received judgments for the Job indicated

            in the request. In order to get the next 100 rows, you must

            increment the value of page. Keep doing so until an empty hash is

            returned.

            '
      x-code-samples:
      - lang: Shell
        label: cURL
        source: 'curl -X GET \

          "https://api.appen.com/v1/jobs/{job_id}/judgments.json" \

          -H "Authorization: Token token={api_key}" \

          -d "page=1"

          '
      operationId: getJobsByJobIdJudgmentsJson
      x-operation-id-source: derived
components:
  schemas:
    unit:
      properties:
        id:
          type: integer
          format: int64
          readOnly: true
          example: 1234
        data:
          type: object
          example: {}
        judgments_count:
          type: integer
          format: int32
        state:
          type: string
          enum:
          - new
          - judgable
          - judging
          - judged
          - ordering
          - golden
          - hidden_gold
          - canceled
          - finalized
          - preprocessing
        agreement:
          type: number
          multipleOf: 0.01
        missed_count:
          type: integer
          format: int32
        contested_count:
          type: integer
          format: int32
        gold_pool:
          type: string
        created_at:
          type: string
          format: date-time
          readOnly: true
        updated_at:
          type: string
          format: date-time
          readOnly: true
        job_id:
          type: integer
          format: int32
          readOnly: true
          example: 425765
    new_job_id:
      description: Integer identifier of the requested resource (Job, Unit, Workflow) used in API request paths and response bodies.
      type: integer
      format: int64
      readOnly: true
      minimum: 1
      maximum: 9223372036854776000
      example: 1234567
  parameters:
    api_key:
      name: key
      in: query
      required: true
      description: "Your personal Appen API key; used to access the Appen platform. Can be found in your [account settings](https://client.appen.com/account/api). Variable name: `{api_key}`. \n"
      schema:
        type: string
    type:
      name: type
      in: query
      required: true
      description: 'Specifies the type of report to generate or download, valid values include:

        - **full** - Returns the Full report containing every judgment.

        - **aggregated** - Returns the Aggregated report containing the aggregated response for each row.

        - **json** - Returns the JSON report containing the aggregated response, as well as the individual judgments.

        - **gold_report** - Returns the Test Question report.

        - **workset** - Returns the Contributor report.

        - **source** - Returns a CSV of the source data uploaded to the job.

        '
      schema:
        type: string
    unit_id:
      name: unit_id
      in: path
      required: true
      description: "A unique identifier for a row of data that has been loaded into the system. Variable name: `{unit_id}`. \n"
      schema:
        type: integer
        format: int32
    job_id:
      in: path
      name: job_id
      description: "A unique identifier for a job or task that is distributed to contributors. Variable name: `{job_id}`. \n"
      required: true
      schema:
        $ref: '#/components/schemas/new_job_id'
