openapi: 3.2.0
info:
  title: Appen Platform Workflow Filter Rules API
  version: 1.0.0
  description: '# Introduction

    Hello, and welcome to Appen, the leading data annotation platform for Machine Learning.'
  license:
    name: Licensed under Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.appen.com/privacy-statement/
  contact:
    email: help@appen.com
servers:
- url: https://api.appen.com/v1
  description: Production Server
tags:
- name: Workflow Filter Rules
  description: Rules for routing data
paths:
  /step_routes/{route_id}/filter_rules:
    parameters:
    - $ref: '#/components/parameters/route_id_path'
    post:
      tags:
      - Workflow Filter Rules
      summary: Create a FilterRule for the step
      description: 'Create a configuration object for filtering data moving between steps. FilterRules determine whether the output of a step is qualified for forwarding to a destination step.

        Think of the `route` as a _pipe_ between the steps'' input and output ''pools'' and the filter rule as filter that only allows data "particles" of a certain size or shape through.'
      requestBody:
        $ref: '#/components/requestBodies/FilterRule'
      responses:
        '201':
          description: Rule created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterRule'
        '404':
          description: Route specified by id param not found in the database or does not belong to the customer.
        '422':
          description: Unprocessable Entity. A request parameter was malformed or missing.
          content:
            application/json:
              schema:
                properties:
                  errors:
                    type: array
                    example:
                    - comparison_operation must be present
      operationId: postStepRoutesByRouteIdFilterRules
      x-operation-id-source: derived
    get:
      tags:
      - Workflow Filter Rules
      summary: View the list of filter rules associated with a Route
      description: Displays a list of filter rules for a particular Route within a Workflow.
      responses:
        '200':
          description: OK - List of filter rules for the route.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FilterRule'
        '404':
          description: Route specified by id param not found in the database or does not belong to the customer.
      operationId: getStepRoutesByRouteIdFilterRules
      x-operation-id-source: derived
  /step_routes/{route_id}/filter_rules/{rule_id}:
    parameters:
    - $ref: '#/components/parameters/route_id_path'
    - $ref: '#/components/parameters/rule_id_path'
    patch:
      tags:
      - Workflow Filter Rules
      summary: Update a Rule associated with a Route
      description: Update the **FilterRule** record that configures some or all of the filtering of data between two **Steps**.
      requestBody:
        $ref: '#/components/requestBodies/FilterRule'
      responses:
        '200':
          description: Rule updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterRule'
        '404':
          description: Route or Filter Rule specified by id params not found in the database or does not belong to the customer.
        '422':
          description: Unprocessable Entity. A request parameter was malformed or missing.
          content:
            application/json:
              schema:
                properties:
                  errors:
                    type: array
                    example:
                    - comparison_operation must be present
      operationId: patchStepRoutesByRouteIdFilterRulesByRuleId
      x-operation-id-source: derived
    delete:
      tags:
      - Workflow Filter Rules
      summary: Delete a rule associated with a Route
      description: Delete the **FilterRule** record that configures some or all of the filtering of data between two **Steps**.
      parameters:
      - $ref: '#/components/parameters/route_id_path'
      - $ref: '#/components/parameters/rule_id_path'
      responses:
        '200':
          description: Filter Rule deleted.
        '404':
          description: Route or Filter Rule specified by id params not found in the database or does not belong to the customer.
      operationId: deleteStepRoutesByRouteIdFilterRulesByRuleId
      x-operation-id-source: derived
components:
  parameters:
    rule_id_path:
      name: rule_id
      in: path
      required: true
      description: Filter Rule database ID
      schema:
        type: integer
      example: 4567
    route_id_path:
      name: route_id
      in: path
      required: true
      description: Step Route database ID
      schema:
        type: integer
      example: 3456
  requestBodies:
    FilterRule:
      content:
        application/json:
          schema:
            type: object
            properties:
              filter_rule:
                type: object
                required:
                - comparison_field
                - comparison_value
                - comparison_operation
                - rule_connector
                properties:
                  id:
                    type: integer
                    example: 956
                    readOnly: true
                  comparison_field:
                    type: string
                    example: img_is_cat
                  comparison_operation:
                    type: string
                    enum:
                    - ==
                    - <
                    - '>'
                    - '!='
                    - =~
                    - <=
                    - '>='
                    example: ==
                  comparison_value:
                    type: string
                    example: 'true'
                  rule_connector:
                    type: string
                    enum:
                    - all
                    - and
                    - or
                    - rnd
                    - csp
                    - els
                    example: and
  schemas:
    FilterRule:
      type: object
      required:
      - comparison_field
      - comparison_value
      - comparison_operation
      - rule_connector
      properties:
        id:
          type: integer
          example: 956
          readOnly: true
        comparison_field:
          type: string
          example: img_is_cat
        comparison_operation:
          type: string
          enum:
          - ==
          - <
          - '>'
          - '!='
          - =~
          - <=
          - '>='
          example: ==
        comparison_value:
          type: string
          example: 'true'
        rule_connector:
          type: string
          enum:
          - all
          - and
          - or
          - rnd
          - csp
          - els
          example: and
        created_at:
          type: string
          format: date-time
          readOnly: true
        updated_at:
          type: string
          format: date-time
          readOnly: true
