{"openapi":"3.0.0","info":{"title":"Appen Platform API","version":"1.0.0","description":"# Introduction\nHello, and welcome to Appen, the leading data annotation platform for Machine Learning. Our API enables developers to build applications that can programmatically create, edit, and launch Appen jobs, download results, and more! \n\nAppen uses a RESTful API that accepts data requests as URL-encoded key-value pairs. Responses are returned in JSON and authentication is key-based.\n\nBefore integrating with the API, we highly recommend you first build and run a job using our [graphical user interface](https://client.appen.com/sessions/new). Once you have run a job successfully and are satisfied with the results, you can automate the process using the Appen API.\n\n# Authentication\nYou will need to supply your Appen API key to access the API. To find your API key:\n1. Click the Account button located in the bottom corner of the Global Navigation bar on the left side of any page.\n![Appen Authentication](/assets/img/authentication1.png \"Appen Authentication\")\n2. Click the API tab and find your key listed under the Your API Key section. \n![Appen API](/assets/img/authentication2.png \"Appen API key\")\n\nFor requests listed below, the API Key will be listed as `{api_key}`. \n\nThe API key needs to be included in the header for every request: \n```\n  headers: { \n\n   \"AUTHORIZATION\" => \"Token token={api_key}\" \n\n  } \n```\n\nYou may also see other variables, such as `{job_id}` for operations pertaining to a specific job, or `{team_id}` when completing operations relevant to an entire team (like listing all available jobs). Job ID's can be determined from the job listing page or the URL. A team id is visible in the URL of the Teams tab in the Account page. \n# Resources\nThere are three primary data objects on Appen that correspond to resources on the API:\n## Jobs\nA **Job** is an interface that connects your data to an online workforce.\n  Each job on the Appen platform has data, instructions, customizable questions for your use case\n  (written in **CML** [](https://success.appen.com/hc/en-us/articles/202817989-CML-Custom-Markup-Language-Overview)),\n  [test questions](https://success.appen.com/hc/en-us/articles/202702985-How-to-Create-Test-Questions),\n  and is worked on by *Contributors*. Contributors submit *Judgments* on the rows of data via a worker interface. \n    * All jobs in a single account can be found [on your jobs page](https://client.appen.com/jobs) and will be\n    identified by a unique numeric id.\n## Units (also known as 'Rows')\nA **Unit** of data is uploaded to the job from your source data file via API or GUI. \n## Judgments \nA **Judgment** is the set of responses submitted by a contributor on a particular unit of data. It is\n  recommended to collect multiple judgments and compare them to one another or aggregate to the top response. For\n  each job, you can specify the number of judgments you would like each row to receive.\n# Responses and Messaging\nEach request to the Appen API returns an HTTP status code response and one or both of the following:\n* An application response message (in JSON) \n* A JSON representation of the object (job, unit, or judgments) requested\nSee the below sections of different API Requests, Responses and Messaging for more information:\n1. [Job Create/Update](/#tag/Job-CreateUpdate)\n2. [Manage Job Data](/#tag/Manage-Job-Data)\n3. [Job Status](/#tag/Job-Status)\n4. [Monitor Contributors](/#tag/Monitor-Contributors)\n5. [Manage Job Settings](/#tag/Manage-Job-Settings)\n6. [Job Results](/#tag/Job-Results)\n7. [Account Info](/#tag/Account-Info)\n","license":{"name":"Licensed under Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.html"},"termsOfService":"https://www.appen.com/privacy-statement/","contact":{"email":"help@appen.com"}},"servers":[{"url":"https://api.appen.com/v1","description":"Production Server"}],"tags":[{"name":"Account Info","description":"Manage account info.","externalDocs":{"url":"https://success.appen.com/hc/en-us/articles/202703435-Jobs-Resource-Attributes"}},{"name":"Job Create/Update","description":"Create and update jobs."},{"name":"Manage Job Data","description":"Load data to jobs and work with that data.","externalDocs":{"url":"https://success.appen.com/hc/en-us/articles/202703435-Jobs-Resource-Attributes"}},{"name":"Job Ontology","description":"Read and Update the Ontology for a job","externalDocs":{"url":"https://success.appen.com/hc/en-us/articles/360015150252-Guide-To-Ontology-Manager"}},{"name":"Job Status","description":"Control job status.","externalDocs":{"url":"https://success.appen.com/hc/en-us/articles/202703435-Jobs-Resource-Attributes"}},{"name":"Monitor Contributors","description":"Monitor contributor status and settings.","externalDocs":{"url":"https://success.appen.com/hc/en-us/articles/202703435-Jobs-Resource-Attributes"}},{"name":"Manage Job Settings","description":"Manage various job settings.","externalDocs":{"url":"https://success.appen.com/hc/en-us/articles/202703435-Jobs-Resource-Attributes"}},{"name":"Job Results","description":"Request rows, judgments, and reports.","externalDocs":{"url":"https://success.appen.com/hc/en-us/articles/202703435-Jobs-Resource-Attributes"}},{"name":"Workflows","description":"Copy, launch, pause and resume workflows, check status and configuration values"},{"name":"Workflow Data Upload/Download","description":"Upload data to run through a Workflow. Download reports."},{"name":"Workflow Steps","description":"Manage Workflow Steps"},{"name":"Workflow Step Routes","description":"Manage Workflow Step Routes"},{"name":"Workflow Filter Rules","description":"Rules for routing data"}],"paths":{"/jobs.json":{"post":{"tags":["Job Create/Update"],"summary":"Create a new Job.","description":"**With no request body** - Creates a new Job with a Job ID—but without data, title, instructions, or other settings values.\n\n**With optional params** - Creates a new Job with Job ID, Title, CML, and Instructions.\n\n**See also:** [`POST /jobs/upload.json`](/#tag/Job-CreateUpdate/paths/~1jobs~1upload.json/post)\n","parameters":[{"$ref":"#/components/parameters/api_key"}],"responses":{"200":{"description":"OK - Job Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/new_job"}}}}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"curl -X POST \\\n\"https://api.appen.com/v1/jobs.json\" \\\n-H \"Authorization: Token token={api_key}\" \\\n-H \"Content-Type: application/json\" \\\n-d '{\"job\": { \"title\": \"Select the animal types in the image.\", \"instructions\": \"<h1>Some valid</h1><p>html instructions</p>\", \"cml\": \"<h2>Collect Information</h2>\\n<hr />\\n<cml:radios label=\\\"Some Question?\\\" validates=\\\"required\\\" name=\\\"video_found\\\" gold=\\\"true\\\">\\n<cml:radio label=\\\"Yes\\\"></cml:radio>\\n<cml:radio label=\\\"No\\\"></cml:radio>\\n</cml:radios>\" } }'\n"}]},"get":{"tags":["Account Info"],"summary":"Paginated list all Jobs available to Account (by user or team id).","description":"Queries for all Jobs under the Account related to the API key in the\nrequest.\n","parameters":[{"$ref":"#/components/parameters/api_key"},{"$ref":"#/components/parameters/team_id"},{"$ref":"#/components/parameters/page"},{"in":"query","name":"state","description":"Can be unordered, running, canceled, finished, or paused","required":false,"schema":{"type":"string"}},{"in":"query","name":"created_at_greater_equal","description":"Accepts dates in any of the following formats: 2020/03/15, 2020-03-15, 15-03-2020, 03/15/2020","required":false,"schema":{"type":"string"}},{"in":"query","name":"created_at_less_equal","description":"Accepts dates in any of the following formats: 2020/03/15, 2020-03-15, 15-03-2020, 03/15/2020","required":false,"schema":{"type":"string"}},{"in":"query","name":"tags","description":"Specify the name of a tag. Accepts multiple tags, separate tags with  commas i.e. tag1, tag2, tag3, ..., tagn","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"JSON representation of the latest 10 Jobs. Use page={n} query to get\nadditional Jobs.\n","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/new_job"}}}}}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"curl -X GET \\\n\"https://api.appen.com/v1/jobs.json\" \\\n-H \"Authorization: Token token={api_key}\"\n"},{"lang":"Shell","label":"cURL - w/team_id","source":"curl -X GET \\\n\"https://api.appen.com/v1/jobs.json\" \\\n-H \"Authorization: Token token={api_key}\" \\\n-d \"team_id={team_id}\"\n"}]}},"/jobs/upload.json":{"post":{"tags":["Job Create/Update"],"summary":"Create a new job by uploading unit data.","description":"Creates a new Job and uploads rows comprised of the JSON or CSV data in\nthe request. Note that this request invokes the upload operation.\n","parameters":[{"$ref":"#/components/parameters/api_key"}],"requestBody":{"description":"A **CSV** or **JSON Lines** formatted file of unit data to upload to\nthe Job once it is created.\n","content":{"multipart/form-data":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"OK - Job Created, Units uploaded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/data_upload_job"}}}},"422":{"$ref":"#/components/responses/422_unit_limit"}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"curl -X POST \\\n\"https://api.appen.com/v1/jobs/upload.json\" \\\n-H \"Authorization: Token token={api_key}\" \\\n-T \"./initial_data.csv\" \\\n-H \"Content-Type: text/csv\" \n"}]}},"/jobs/{job_id}.json":{"put":{"tags":["Manage Job Settings"],"summary":"Update a given job.","description":"Update various elements of a job. Your job must have a valid title,\ninstructions, and one \"required\" CML form element to be launched\nsuccessfully.\n","parameters":[{"$ref":"#/components/parameters/job_id"},{"$ref":"#/components/parameters/api_key"},{"in":"query","name":"job[title]","description":"Updates the title of the Job.","required":false,"schema":{"type":"string"}},{"in":"query","name":"job[instructions]","description":"Updates the instructions of the Job.","required":false,"schema":{"type":"string"}},{"in":"query","name":"job[cml]","description":"Updates the CML of the Job.","required":false,"schema":{"type":"string"}},{"in":"query","name":"job[css]","description":"Updates the CSS of the Job.","required":false,"schema":{"type":"string"}},{"in":"query","name":"job[payment_cents]","description":"Determines the amount, in cents, that Contributors will be paid per\nTask\n","required":false,"schema":{"type":"integer"}},{"in":"query","name":"job[judgments_per_unit]","description":"Unit in the refers to a single row in the job","required":false,"schema":{"type":"integer"}},{"in":"query","name":"job[quiz_length_configured]","description":"True, for custom number of test questions in Quiz mode","required":false,"schema":{"type":"boolean"}},{"in":"query","name":"job[quiz_length]","description":"Number of test questions in quiz","required":false,"schema":{"type":"integer"}},{"in":"query","name":"job[options][req_ttl_in_seconds]","description":"Set the amount of time per assignment. Default is set to 30 minutes.","required":false,"schema":{"type":"integer"}},{"in":"query","name":"job[units_per_assignment]","description":"Sets the number of Rows that will comprise one Page within a Job.","required":false,"schema":{"type":"integer"}},{"in":"query","name":"job[variable_judgments_mode]","description":"Accepts \"none\" or \"auto_confidence\". Use in combination with\njob[options][confidence_fields], job[max_judgments_per_unit], and\njob[min_unit_confidence] to set dynamic judgments. More info\n[Job Launch > Job Settings > Guide to Dynamic Judgments](https://success.appen.com/hc/en-us/articles/203219205-Job-Settings-Guide-to-Dynamic-Judgments)\n","required":false,"schema":{"type":"string"}},{"in":"query","name":"job[options][confidence_fields]","description":"CML form element name that determines row finalization for dynamic\njudgments. More info in the Success center at\n[Job Launch > Job Settings > Guide to Dynamic Judgments](https://success.appen.com/hc/en-us/articles/203219205-Job-Settings-Guide-to-Dynamic-Judgments)\n","required":false,"schema":{"type":"string"}},{"in":"query","name":"job[max_judgments_per_unit]","description":"Maximum number of judgments collected per row. More info in the Success center at\n[Job Launch > Job Settings > Guide to Dynamic Judgments](https://success.appen.com/hc/en-us/articles/203219205-Job-Settings-Guide-to-Dynamic-Judgments)\n","required":false,"schema":{"type":"integer"}},{"in":"query","name":"job[min_unit_confidence]","description":"Minimum confidence needed to finalize a row (a number from 0 to 1).\nMore info in the Success center at\n[Job Launch > Job Settings > Guide to: Dynamic Judgments](https://success.appen.com/hc/en-us/articles/203219205-Job-Settings-Guide-to-Dynamic-Judgments)\n","required":false,"schema":{"type":"number"}},{"in":"query","name":"job[auto_order]","description":"Automatically launch rows as they are added to the Job","required":false,"schema":{"type":"boolean"}},{"in":"query","name":"job[auto_order_timout]","description":"The time in seconds before automatic ordering of any new rows will\noccur. auto_order must be enabled.\n","required":false,"schema":{"type":"integer"}},{"in":"query","name":"job[auto_order_threshold]","description":"The job must have at least this many new rows—or the timeout must\nhave passed—before new rows will be ordered automatically. This\nsetting must be greater than the number of rows per page minus the\nnumber of Test Questions shown per page. auto_order must be enabled.\n","required":false,"schema":{"type":"integer"}},{"in":"query","name":"job[ignore_overlapping_names]","description":"When enabling auto-order, you may encounter the following response message: \"You created column headers that duplicate the original uploaded column headers: 'example'. Please use unique column headers or allow duplicate column headers by adding the ignore_overlapping_names=true flag.\" Ignore_overlapping_names allows a job to be launched where a CML name duplicates a source column header.\n","required":false,"schema":{"type":"string"}},{"in":"query","name":"job[options][htl_report]","description":"Toggle confidence summary","required":false,"schema":{"type":"boolean"}},{"in":"query","name":"job[webhook_uri]","description":"Add webhook URL","required":false,"schema":{"type":"string"}},{"in":"query","name":"job[options][logical_aggregation]","description":"Toggle logical aggregation","required":false,"schema":{"type":"boolean"}},{"in":"query","name":"job[max_judgments_per_worker]","description":"Set max judgments per contributor","required":false,"schema":{"type":"integer"}},{"in":"query","name":"job[min_assignment_duration]","description":"Set minimum time per page (expressed as seconds)","required":false,"schema":{"type":"integer"}},{"in":"query","name":"job[options][reject_at]","description":"Set minimum accuracy","required":false,"schema":{"type":"integer"}},{"in":"query","name":"job[units_remain_finalized]","description":"Rows will not order new judgments once they are finalized, even if judgments become untrusted","required":false,"schema":{"type":"boolean"}},{"in":"query","name":"job[schedule_fifo]","description":"Schedule rows to collect judgments based on the order in which they were posted to the job","required":false,"schema":{"type":"boolean"}},{"in":"query","name":"job[included_countries]","description":"A list of allowed country codes in ISO 3166 format (e.g. - [\"US\", \"GB\"]) designating countries where contributors are allowed to annotate. Only one of included_countries or excluded_countries can be set per Job. No more than 20 countries can be included.","required":false,"schema":{"type":"string"}},{"in":"query","name":"job[excluded_countries]","description":"A list of forbidden country codes in ISO 3166 format (e.g. - [\"US\", \"GB\"]) designating countries where contributors are not allowed to annotate. Only one of included_countries or excluded_countries can be set per Job. No more than 15 countries can be excluded.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request was successful.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/new_job"}}}}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"curl -X PUT \\\n\"https://api.appen.com/v1/jobs/{job_id}.json\" \\ \n--data-urlencode \"job[title]=A new title for the Job\" \\\n-H \"Authorization: Token token={api_key}\" \n"}]},"get":{"tags":["Job Status"],"summary":"Get job attributes.","description":"Gets the .json of the Job identified by the job_id parameter of the\nrequest. This includes the total cost and job state.\n","parameters":[{"$ref":"#/components/parameters/job_id"},{"$ref":"#/components/parameters/api_key"}],"responses":{"200":{"description":"JSON representation of Job"}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"curl -X GET \\\n\"https://api.appen.com/v1/jobs/{job_id}.json\" \\\n-H \"Authorization: Token token={api_key}\" \\\n"}]}},"/jobs/{job_id}/tags":{"get":{"tags":["Manage Job Settings"],"summary":"View all job tags.","description":"View all tags in a job.","parameters":[{"$ref":"#/components/parameters/job_id"},{"$ref":"#/components/parameters/api_key"}],"responses":{"200":{"description":"JSON application message indicating status of the operation (e.g.,\n\"Unit was successfully created\")\n"}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"curl -X GET \\\n\"https://api.appen.com/v1/jobs/{job_id}/tags\" \\\n-H \"Authorization: Token token={api_key}\"\n"}]},"post":{"tags":["Manage Job Settings"],"summary":"Add a job tag.","description":"Add a new tag to a job","parameters":[{"$ref":"#/components/parameters/job_id"},{"$ref":"#/components/parameters/api_key"},{"in":"query","name":"tag","description":"Specify the name of a tag","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"JSON application message indicating status of the operation (e.g.,\n\"Unit was successfully created\")\n"}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"curl -X POST \\\n\"https://api.appen.com/v1/jobs/{job_id}/tags\" \\\n--data-urlencode \"tags=your_job_tag\" \\\n-H \"Authorization: Token token={api_key}\"\n"}]},"put":{"tags":["Manage Job Settings"],"summary":"Replace job tags.","description":"Replace the tags in a job","parameters":[{"$ref":"#/components/parameters/job_id"},{"$ref":"#/components/parameters/api_key"},{"in":"query","name":"tag","description":"Specify the name of a tag. Accepts multiple tags, separate tags with\ncommas i.e. tag1, tag2, tag3, ..., tagn\n","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"JSON application message indicating status of the operation (e.g. 'Unit was successfully created')\n"}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"curl -X PUT \\\n\"https://api.appen.com/v1/jobs/{job_id}/tags\" \\\n--data-urlencode \"tags={tag1,tag2}\" \\\n-H \"Authorization: Token token={api_key}\" \\\n"}]}},"/jobs/{job_id}/upload.json":{"put":{"tags":["Manage Job Data"],"summary":"Upload data to an existing job","description":"Upload data to an existing job. Data may be uploaded in JSON or CSV format.","parameters":[{"$ref":"#/components/parameters/job_id"},{"$ref":"#/components/parameters/api_key"},{"in":"query","name":"force","description":"The  request fails when the fields in the data uploaded _do not\nmatch_ the fields already present in the job. To override this\nvalidation and force upload data, use the query parameter\n`force=true`.\n","required":false,"schema":{"type":"boolean"}}],"requestBody":{"description":"Accepts JSON or CSV. This action corresponds to uploading a CSV using\nthe \"Add More Data\" button displayed in the UI. Note that this request\ninvokes the upload operation. CSV files must be UTF-8 encoded.\n","content":{"multipart/form-data":{"schema":{"type":"string","format":"binary"}}}},"responses":{"200":{"description":"success"},"404":{"$ref":"#/components/responses/404"}},"x-code-samples":[{"lang":"Shell","label":"cURL - CSV","source":"curl -X PUT \\\n\"https://api.appen.com/v1/jobs/{job_id}/upload.json\" \\\n-H \"Authorization: Token token={api_key}\" \\\n-H \"Content-Type: text/csv\" \\\n-T \"./additional_data.csv\" \n"},{"lang":"Shell","label":"cURL - JSON","source":"curl -X PUT \\\n\"https://api.appen.com/v1/jobs/{job_id}/upload.json\" \\\n-H \"Authorization: Token token={api_key}\" \\\n-H \"Content-Type: application/json\" \\\n-T \"./additional_data.json\"\n"}]}},"/jobs/{job_id}/copy.json":{"get":{"tags":["Job Create/Update"],"summary":"Copy the settings and data (optional) for a job.","description":"Copies the Job identified by the `job_id` parameter of the request to a\nnew Job, with a new ID. If `all_units` or `gold` are not specified, then\nonly the job structure is copied (i.e. title, options, instructions and\ncml, etc.)\n","parameters":[{"$ref":"#/components/parameters/job_id"},{"$ref":"#/components/parameters/api_key"},{"in":"query","name":"all_units","schema":{"type":"boolean"},"description":"All Rows and settings are copied.","required":false},{"in":"query","name":"gold","schema":{"type":"boolean"},"description":"Copies the job identified by the job_id parameter of the request\nwith only its test-question rows. All settings are copied.\n","required":false}],"responses":{"200":{"description":"OK - Job Copied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/copied_job"}}}}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"# copy the structure and settings of job {job_id}\ncurl -X GET \\\n\"https://api.appen.com/v1/jobs/{job_id}/copy.json\" \\\n-H \"Authorization: Token token={api_key}\" \n"},{"lang":"Shell","label":"cURL - w/Test Questions","source":"# copy job {job_id} structure and settings with test questions\ncurl -X GET \\\n\"https://api.appen.com/v1/jobs/{job_id}/copy.json\" \\\n-H \"Authorization: Token token={api_key}\" \\\n-d gold=true\n"},{"lang":"Shell","label":"cURL - w/All Units","source":"# copy job {job_id} structure and settings with unit data and test questions\ncurl -X GET \\\n\"https://api.appen.com/v1/jobs/{job_id}/copy.json\" \\\n-H \"Authorization: Token token={api_key}\" \\\n-d all_units=true\n"}]}},"/jobs/{job_id}/units.json":{"get":{"tags":["Manage Job Data"],"summary":"Paginated list of Units in Job","description":"Gets **Units** for the **Job** identified by the `job_id` parameter of\nthe request. Defaults to 1000 Units per page, in order to get the next\n1000 rows, you must increment the value of `page`. Keep doing so until\nan empty hash is returned.\n","parameters":[{"$ref":"#/components/parameters/job_id"},{"$ref":"#/components/parameters/api_key"},{"$ref":"#/components/parameters/page"}],"responses":{"200":{"description":"Displays 1000 units at a time.","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"},"example":[{"id":"1234,"},{"data":{}}]}}}}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"curl -X GET \\\n\"https://api.appen.com/v1/jobs/{job_id}/units.json\" \\\n-H \"Authorization: Token token={api_key}\" \\\n-d \"page=1\"\n"}]},"post":{"tags":["Manage Job Data"],"summary":"Add Unit(s) to job","description":"Creates a new Row in an existing Job. This is the request format and endpoint to use for unit-by-unit posting. This endpoint cannot add multiple units in a single request.\n\n*Note:* test questions can also be uploaded using this endpoint. First, upload units that have a field `_golden=true`, then use the [Convert uploaded test questions](#tag/Manage-Job-Data/paths/~1jobs~1{job_id}~1gold.json/put) endpoint.\n","parameters":[{"$ref":"#/components/parameters/job_id"},{"$ref":"#/components/parameters/api_key"},{"in":"query","name":"unit[data][{column1,2,3...x}]","description":"Accepts multiple columns, and individual data strings per column","required":false,"schema":{"type":"string"}},{"in":"query","name":"unit[data][column1,2,...x_gold]","description":"Accepts multiple columns, and individual data strings per column","required":false,"schema":{"type":"string"}},{"in":"query","name":"unit[data][_golden]","description":"TBD","required":false,"schema":{"type":"boolean"}}],"responses":{"201":{"description":"JSON object of the row created, including its id, data, and related\nJob id. JSON application message indicating status of the operation\n(e.g., Unit was successfully created)\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unit"}}}}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"curl -X POST \\\n\"https://api.appen.com/v1/jobs/{job_id}/units.json\" \\\n-d \"unit[data][image_url]=some_data_1\" \\\n-d \"unit[data][description]=some_data_2\" \\\n-d \"unit[data][uid]=some_data_3\" \\\n-H \"Authorization: Token token={api_key}\" \\\n"}]}},"/jobs/{job_id}/units/{unit_id}.json":{"put":{"tags":["Manage Job Data"],"summary":"Change unit state.","description":"Update `state` for specific units on a job.","parameters":[{"$ref":"#/components/parameters/job_id"},{"$ref":"#/components/parameters/api_key"},{"$ref":"#/components/parameters/unit_id"},{"in":"query","name":"unit[state]","description":"Changes the state (e.g., new, golden, finalized, canceled,\nhidden_gold) of the Row specified in the request\n","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"JSON object comprising Judgment count, Row state, and timestamp values.\n","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/unit"}}}}}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"curl -X PUT \\\n\"https://api.appen.com/v1/jobs/{job_id}/units/{unit_id}.json\" \\\n-H \"Authorization: Token token={api_key}\" \\\n--data-urlencode \"unit[state]={new}\" \n"}]},"get":{"tags":["Job Results"],"summary":"Get data for a Unit","description":"Get source data, all judgments and aggregate result for a specified\nrow.\n","parameters":[{"$ref":"#/components/parameters/job_id"},{"$ref":"#/components/parameters/api_key"},{"$ref":"#/components/parameters/unit_id"}],"responses":{"200":{"description":"JSON object comprising judgment count, row state, and timestamp\nvalues.\n","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/unit"}}}}}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"curl -X GET \\\n\"https://api.appen.com/v1/jobs/{job_id}/units/{unit_id}.json\" \\\n-H \"Authorization: Token token={api_key}\"\n"}]},"delete":{"tags":["Manage Job Data"],"summary":"Delete a unit","description":"Delete a unit if the job state and unit state are valid for deletion.","parameters":[{"$ref":"#/components/parameters/job_id"},{"$ref":"#/components/parameters/api_key"},{"$ref":"#/components/parameters/unit_id"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"object","properties":{"success":{"type":"string","example":"Unit {unit_id} has been deleted."}}}}}}}}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"curl -X DELETE \\\n\"https://api.appen.com/v1/jobs/{job_id}/units/{unit_id}.json\" \\\n-H \"Authorization: Token token={api_key}\" \\\n"}]}},"/jobs/{job_id}/units/{unit_id}/cancel.json":{"post":{"tags":["Manage Job Data"],"summary":"Cancel a unit.","description":"Will cancel a unit in state New or Judgable if the row has not collected any judgments yet.\n","parameters":[{"$ref":"#/components/parameters/job_id"},{"$ref":"#/components/parameters/api_key"},{"$ref":"#/components/parameters/unit_id"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"string","example":"Unit {unit_id} has been canceled."}}}}}}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"curl -X POST \\\n\"https://api.appen.com/v1/jobs/{job_id}/units/{unit_id}/cancel.json\" \\\n-H \"Authorization: Token token={api_key}\" \\\n"}]}},"/jobs/{job_id}/gold.json":{"put":{"tags":["Manage Job Data"],"summary":"Convert uploaded test questions.","description":"Corresponds to the \"Convert Uploaded Test Questions\" button on the Job's DATA page.\nAll units where `_golden` is set to `true` will be converted to test questions.\n","parameters":[{"$ref":"#/components/parameters/job_id"},{"$ref":"#/components/parameters/api_key"}],"responses":{"200":{"description":"Test Question Rows in the specified Job","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unit"}}}}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"curl -X PUT \\\n\"https://api.appen.com/v1/jobs/{job_id}/gold.json\" \\\n-H \"Authorization: Token token={api_key}\" \\\n"}]}},"/jobs/{job_id}/test_questions":{"get":{"tags":["Manage Job Data"],"summary":"Get all test question units.","description":"Get all test question units.","parameters":[{"$ref":"#/components/parameters/job_id"},{"$ref":"#/components/parameters/api_key"}],"responses":{"200":{"description":"Test Question Rows in the specified Job","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unit"}}}}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"curl -X GET \\\n\"https://api.appen.com/v1/jobs/{job_id}/gold.json\" \\\n-H \"Authorization: Token token={api_key}\" \\\n"}]}},"/jobs/{job_id}/units/ping.json":{"get":{"tags":["Manage Job Data"],"summary":"Get count of all rows in a job.","description":"Get count of all rows in a job.","parameters":[{"$ref":"#/components/parameters/job_id"},{"$ref":"#/components/parameters/api_key"}],"responses":{"200":{"description":"JSON object containing count of Rows in Job"}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"curl -X GET \\\n\"https://api.appen.com/v1/jobs/{job_id}/units/ping.json\" \\\n-H \"Authorization: Token token={api_key}\" \n"}]}},"/jobs/{job_id}/channels":{"get":{"tags":["Manage Job Settings"],"summary":"List of channels settings","description":"View all labor Channels via which the Job can be accessed.","parameters":[{"$ref":"#/components/parameters/job_id"},{"$ref":"#/components/parameters/api_key"}],"responses":{"200":{"description":"OK - List of available and enabled Channels","content":{"application/json":{"schema":{"$ref":"#/components/schemas/channels"}}}}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"curl -X GET \\\n\"https://api.appen.com/v1/jobs/{job_id}/channels\" \\\n-H \"Authorization: Token token={api_key}\"\n"}]},"post":{"tags":["Manage Job Settings"],"summary":"Add a contributor channel to the job.","description":"Add a **Channel** via which the **Job** can be accessed and worked on by **Contributors**. \n","parameters":[{"$ref":"#/components/parameters/api_key"},{"$ref":"#/components/parameters/job_id"},{"$ref":"#/components/parameters/channel_id"}],"responses":{"200":{"description":"OK - List of available and enabled channels.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/channels"}}}}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"curl -X POST \\\n\"https://api.appen.com/v1/jobs/{job_id}/channels\" \\\n--data-urlencode \"channels={channel_id}\" \\\n-H \"Authorization: Token token={api_key}\" \\\n"}]}},"/jobs/{job_id}/disable_channel":{"post":{"tags":["Manage Job Settings"],"summary":"Disconnect a channel from the job.","description":"Remove a channel via which the job can be accessed.","parameters":[{"$ref":"#/components/parameters/job_id"},{"$ref":"#/components/parameters/api_key"},{"$ref":"#/components/parameters/channel_id"}],"responses":{"200":{"description":"OK - List of available and enabled channels.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/channels"}}}}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"curl -X POST \\\n\"https://api.appen.com/v1/jobs/{job_id}/disable_channel\" \\\n--data \"channel_name={channel_id}\" \\\n-H \"Authorization: Token token={api_key}\"\n"}]}},"/jobs/{job_id}/ontology":{"get":{"servers":[{"url":"https://api-proxy.appen.com/v1","description":"Production Server"}],"tags":["Job Ontology"],"summary":"Get Job Ontology","description":"Get the Ontology from a Job in JSON format.","parameters":[{"$ref":"#/components/parameters/job_id"},{"$ref":"#/components/parameters/api_key"}],"responses":{"200":{"description":"JSON Array describing the Ontology","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ontology"}}}}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"curl -X GET \\\n\"https://api-proxy.appen.com/v1/jobs/{job_id}/ontology\"\n-H \"Authorization: Token token={api_key}\"\n"}]},"put":{"servers":[{"url":"https://api-proxy.appen.com/v1","description":"Production Server"}],"tags":["Job Ontology"],"summary":"Update Job Ontology","description":"Update the Ontology for a Job. If the Ontology doesn't exist then a new Ontology\nis created. (Note: Not all Job types accept a JSON formatted Ontology, please\nrefer to the [documentation](https://success.appen.com/hc/en-us/articles/360015150252-Guide-To-Ontology-Manager?mobile_site=false)\nfor more information).\n","parameters":[{"$ref":"#/components/parameters/job_id"},{"$ref":"#/components/parameters/api_key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ontology"}}}},"responses":{"200":{"description":"OK - The Ontology was updated."}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"curl -X PUT \\\n\"https://api-proxy.appen.com/v1/jobs/{job_id}/ontology\"\\\n-H \"Authorization: Token token={api_key}\" \\\n--data-raw '[\n  {\n    \"description\": \"Ego vehicle, parking, static objects (trash bins), dynamic (garbage on sidewalk), bridge... etc. (see job description if unsure)\",\n    \"class_name\": \"void\",\n    \"display_color\": \"#000000\",\n    \"children\": [\n            {\n                \"description\": \"Children of the void class\",\n                \"class_name\": \"children\",\n                \"display_color\": \"#ca03fc\"\n            }\n        ]\n  }\n]'\n"}]}},"/jobs/{job_id}/ontology.csv":{"get":{"servers":[{"url":"https://api-proxy.appen.com/v1","description":"Production Server"}],"tags":["Job Ontology"],"summary":"Get Job Ontology (CSV)","description":"Get the Ontology from a Job in CSV format.","parameters":[{"$ref":"#/components/parameters/job_id"},{"$ref":"#/components/parameters/api_key"}],"responses":{"200":{"description":"The Ontology data formated in CSV.","content":{"text/plain":{"schema":{"type":"string","example":"description,class_name,display_color,\n\"NOT Ego vehicle, parking, static objects (trash bins), dynamic (garbage on sidewalk), bridge... etc. (see job description if unsure)\",not_void,#000000\n"}}}}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"curl -X GET \\\n\"https://api-proxy.appen.com/v1/jobs/{job_id}/ontology.csv\"\n-H \"Authorization: Token token={api_key}\"\n"}]},"put":{"servers":[{"url":"https://api-proxy.appen.com/v1","description":"Production Server"}],"tags":["Job Ontology"],"summary":"Update Job Ontology (CSV)","description":"Update the Ontology for a Job. If the Ontology doesn't exist then a new Ontology\nis created. (Note: Not all Job types accept a CSV formatted Ontology, please\nrefer to the [documentation](https://success.appen.com/hc/en-us/articles/360015150252-Guide-To-Ontology-Manager?mobile_site=false)\nfor more information).\n","parameters":[{"$ref":"#/components/parameters/job_id"},{"$ref":"#/components/parameters/api_key"}],"requestBody":{"description":"A **CSV** formatted file of the Ontology to upload to the Job.\n","content":{"multipart/form-data":{"schema":{"type":"string","format":"binary"}}}},"responses":{"200":{"description":"OK - The Ontology was updated."}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"curl -X PUT \\\n\"https://api-proxy.appen.com/v1/jobs/{job_id}/ontology\"\\\n-H \"Authorization: Token token={api_key}\" \\\n--form 'file=@{path_to_csv}'\n"}]}},"/jobs/{job_id}/orders.json":{"post":{"tags":["Job Status"],"summary":"Launch a job.","description":"Launch a job.","parameters":[{"$ref":"#/components/parameters/job_id"},{"$ref":"#/components/parameters/api_key"},{"$ref":"#/components/parameters/channel_id"},{"in":"query","name":"debit[units_count]","required":true,"description":"The number of rows to be launched","schema":{"type":"integer"}}],"responses":{"200":{"description":"JSON object, including credit balance, starting and ending Unit id's,\netc.\n"}},"x-code-samples":[{"lang":"Shell","label":"cURL - On Demand Channel","source":"curl -X POST \\\n\"https://api.appen.com/v1/jobs/{job_id}/orders.json\" \\\n--data-urlencode \"channels[0]=on_demand\" \\\n--data-urlencode \"debit[units_count]=100\" \\\n-H \"Authorization: Token token={api_key}\"\n"},{"lang":"Shell","label":"cURL - Internal Channel","source":"curl -X POST \\\n\"https://api.appen.com/v1/jobs/{job_id}/orders.json\" \\\n--data-urlencode \"channels[0]=cf_internal\" \\\n--data-urlencode \"debit[units_count]=100\" \\\n-H \"Authorization: Token token={api_key}\"\n"},{"lang":"Shell","label":"cURL - Two Channels","source":"curl -X POST \\\n\"https://api.appen.com/v1/jobs/{job_id}/orders.json\" \\\n--data-urlencode \"channels[0]=on_demand\" \\\n--data-urlencode \"channels[1]=cf_internal\" \\ \n--data-urlencode \"debit[units_count]=100\" \\\n-H \"Authorization: Token token={api_key}\" \\\n"}]}},"/jobs/{job_id}/pause.json":{"get":{"tags":["Job Status"],"summary":"Pause a job.","description":"Pause a Job that is currently running.","parameters":[{"$ref":"#/components/parameters/job_id"},{"$ref":"#/components/parameters/api_key"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"string","example":"Your job is being paused."}}}}}}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"curl -X GET \\\n\"https://api.appen.com/v1/jobs/{job_id}/pause.json\" \\\n-H \"Authorization: Token token={api_key}\" \\\n"}]}},"/jobs/{job_id}/resume.json":{"get":{"tags":["Job Status"],"summary":"Resume a job.","description":"Resume a job that had been paused.","parameters":[{"$ref":"#/components/parameters/job_id"},{"$ref":"#/components/parameters/api_key"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"string","example":"Your job is being resumed."}}}}}}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"curl -X GET \\\n\"https://api.appen.com/v1/jobs/{job_id}/resume.json\" \\\n-H \"Authorization: Token token={api_key}\" \\\n"}]}},"/jobs/{job_id}/cancel.json":{"get":{"tags":["Job Status"],"summary":"Cancel a job.","description":"Cancels a job.","parameters":[{"$ref":"#/components/parameters/job_id"},{"$ref":"#/components/parameters/api_key"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"string","example":"Your job is being canceled."}}}}}}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"curl -X GET \\\n\"https://api.appen.com/v1/jobs/{job_id}/cancel.json\" \\\n-H \"Authorization: Token token={api_key}\" \\\n"}]}},"/jobs/{job_id}/ping.json":{"get":{"tags":["Job Status"],"summary":"Get the status of a job.","description":"Get the Status of a Job (includes Unit and Judgment counts).","parameters":[{"$ref":"#/components/parameters/job_id"},{"$ref":"#/components/parameters/api_key"}],"responses":{"200":{"description":"OK - JSON payload comprising judgment and row counts.","content":{"application/json":{"schema":{"type":"object","properties":{"golden_units":{"type":"integer","example":22},"all_units":{"type":"integer","example":220},"ordered_units":{"type":"integer","example":100},"completed_units_estimate":{"type":"integer","example":88},"needed_jugdments":{"type":"integer","example":36},"all_judgments":{"type":"integer","example":264},"tainted_judgments":{"type":"integer","example":0},"completed_gold_estimate":{"type":"integer","example":11},"completed_non_gold_estimate":{"type":"integer","example":77}}}}}}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"curl -X GET \\\n\"https://api.appen.com/v1/jobs/{job_id}/ping.json\" \\\n-H \"Authorization: Token token={api_key}\" \\\n"}]}},"/jobs/{job_id}/regenerate.json":{"post":{"tags":["Job Results"],"summary":"Regenerate a job report.","description":"Regenerate a report of job output. See below for available report types. \n","parameters":[{"$ref":"#/components/parameters/job_id"},{"$ref":"#/components/parameters/api_key"},{"$ref":"#/components/parameters/type"}],"responses":{"302":{"description":"redirect"}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"curl -X POST \\\n\"https://api.appen.com/v1/jobs/{job_id}/regenerate\" \\\n-d \"type=aggregated\" \\\n-H \"Authorization: Token token={api_key}\" \\\n"}]}},"/jobs/{job_id}.csv":{"post":{"tags":["Job Results"],"summary":"Download a job report.","description":"Download a report from a job.","parameters":[{"$ref":"#/components/parameters/job_id"},{"$ref":"#/components/parameters/api_key"},{"$ref":"#/components/parameters/type"},{"in":"query","name":"filename","required":true,"description":"Name the output file","schema":{"type":"string"}}],"responses":{"201":{"description":"created"}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"curl -L -X GET \\\n\"https://api.appen.com/v1/jobs/{job_id}.csv\" \\\n-d \"type=aggregated\" \\\n-H \"Authorization: Token token={api_key}\" \\ \\\n-o \"output_filename.zip\"\n"}]}},"/jobs/{job_id}/units/{unit_id}/judgments.json":{"get":{"tags":["Job Results"],"summary":"Get all judgments w/aggregated responses.","description":"Get all judgments and aggregated responses per row","parameters":[{"$ref":"#/components/parameters/job_id"},{"$ref":"#/components/parameters/api_key"},{"$ref":"#/components/parameters/unit_id"}],"responses":{"200":{"description":"JSON array of all Judgments received for the Row indicated in the\nrequest.\n"}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"curl -X GET \\\n\"https://api.appen.com/v1/jobs/{job_id}/units/{unit_id}/judgments.json\" \\\n-H \"Authorization: Token token={api_key}\" \\\n"}]}},"/jobs/{job_id}/judgments.json":{"get":{"tags":["Job Results"],"summary":"Get rows with judgments.","description":"Get rows and their judgments","parameters":[{"$ref":"#/components/parameters/job_id"},{"$ref":"#/components/parameters/api_key"},{"in":"query","name":"page","required":false,"schema":{"type":"integer"}}],"responses":{"200":{"description":"JSON array of 100 rows with received judgments for the Job indicated\nin the request. In order to get the next 100 rows, you must\nincrement the value of page. Keep doing so until an empty hash is\nreturned.\n"}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"curl -X GET \\\n\"https://api.appen.com/v1/jobs/{job_id}/judgments.json\" \\\n-H \"Authorization: Token token={api_key}\" \\\n-d \"page=1\"\n"}]}},"/jobs/{job_id}/workers/{contributor_id}/bonus.json":{"post":{"tags":["Monitor Contributors"],"summary":"Pay a contributor bonus.","description":"Pay a Contributor Bonus. Deposits bonus payment amount specified in the\nrequest into the indicated Contributor's account. Corresponds to Award\nBonus button in the UI.\n","parameters":[{"$ref":"#/components/parameters/job_id"},{"$ref":"#/components/parameters/api_key"},{"$ref":"#/components/parameters/contributor_id"},{"in":"query","name":"amount","description":"A USD value specified in cents i.e. $5.00 == `amount=500`","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"JSON application message indicating status of operation"}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"# pay a $5 USD bonus to worker identified by {contributor_id} \ncurl -X POST \\\n\"https://api.appen.com/v1/jobs/{job_id}/workers/{contributor_id}/bonus.json\" \\\n-d \"amount=500\" \\\n-H \"Authorization: Token token={api_key}\" \\\n"}]}},"/jobs/{job_id}/workers/{contributor_id}/notify.json":{"post":{"tags":["Monitor Contributors"],"summary":"Send a message to a contributor.","description":"Notify a Contributor. Notifies a Contributor with the message provided\nin the request.  The notification appears in the Contributor's\ndashboard. Corresponds to the Notify Contributor button showns in the\nUI.\n","parameters":[{"$ref":"#/components/parameters/job_id"},{"$ref":"#/components/parameters/api_key"},{"$ref":"#/components/parameters/contributor_id"},{"in":"query","name":"message","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"JSON application message indicating status of operation"}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"# send praise to worker identified by {contributor_id};\ncurl -X POST \\\n\"https://api.appen.com/v1/jobs/{job_id}/workers/{contributor_id}/notify.json\" \\\n--data-urlencode \"message=Nice work on X, thanks!!\" \\\n-H \"Authorization: Token token={api_key}\" \\\n"}]}},"/jobs/{job_id}/workers/{contributor_id}.json":{"put":{"tags":["Monitor Contributors"],"summary":"Control contributor flags.","description":"Flag and unflag contributors on a job","parameters":[{"$ref":"#/components/parameters/job_id"},{"$ref":"#/components/parameters/api_key"},{"$ref":"#/components/parameters/contributor_id"},{"in":"query","name":"flag","required":false,"description":"Flags a contributor with the reason indicated in the request.\nCorresponds to the Flag button on the Contributors page.\n","schema":{"type":"string"}},{"in":"query","name":"unflag","required":false,"description":"Unflags a contributor with the reason indicated in the request","schema":{"type":"string"}},{"in":"query","name":"persist","required":false,"description":"Flags a contributor with the reason indicated in the request across\nall jobs for a user. Corresponds to the Flag button on the\nContributors page.\n","schema":{"type":"boolean"}}],"responses":{"200":{"description":"JSON application message indicating status of operation"}},"x-code-samples":[{"lang":"Shell","label":"cURL - flag","source":"# flag worker identified by {contributor_id};\ncurl -X PUT \\\n\"https://api.appen.com/v1/jobs/{job_id}/workers/{contributor_id}.json\" \\\n--data-urlencode \"flag=All answers in Job 12345 were ASDFGHJK\" \\\n-H \"Authorization: Token token={api_key}\"\n"},{"lang":"Shell","label":"cURL - unflag","source":"# flag worker identified by {contributor_id};\ncurl -X PUT \\\n\"https://api.appen.com/v1/jobs/{job_id}/workers/{contributor_id}.json\" \\\n--data-urlencode \"unflag=There was an encoding issue that garbled their answers\" \\\n-H \"Authorization: Token token={api_key}\" \\\n"}]}},"/jobs/{job_id}/workers/{contributor_id}/reject.json":{"put":{"tags":["Monitor Contributors"],"summary":"Reject a contributor.","description":"Rejects a contributor with the reason indicated in the request.","parameters":[{"$ref":"#/components/parameters/job_id"},{"$ref":"#/components/parameters/api_key"},{"$ref":"#/components/parameters/contributor_id"},{"in":"query","name":"reason","required":false,"description":"Flags a contributor with the reason indicated in the request.\nCorresponds to the Flag button on the Contributors page.\n","schema":{"type":"string"}},{"in":"query","name":"manual","required":true,"description":"Set to \"true\" for the reject to work...","schema":{"type":"boolean"}}],"responses":{"200":{"description":"JSON application message indicating status of operation"}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"# reject worker identified by {contributor_id}\ncurl -X PUT \\\n\"https://api.appen.com/v1/jobs/{job_id}/workers/{contributor_id}/reject.json\" \\\n-d \"reason=All answers in Job 12345 were ASDFGHJK\" \\\n-d \"manual=true\" \\\n-H \"Authorization: Token token={api_key}\"\n"}]}},"/account":{"get":{"tags":["Account Info"],"summary":"Get account information.","description":"Retrieves the Appen account information related to the key value\nin the request.\n","parameters":[{"$ref":"#/components/parameters/api_key"}],"responses":{"200":{"description":"JSON account object, including company name, account balance, and\nplan type\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/account"}}}},"404":{"$ref":"#/components/responses/404"}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"curl -X GET \\\n\"https://api.appen.com/v1/account.json\" \\\n-H \"Authorization: Token token={api_key}\" \\\n"}]}},"/workflows":{"post":{"tags":["Workflows"],"summary":"Create a new workflow.","description":"Create a Workflow for processing data via jobs in the core platform or models via the Model Gateway Services.","requestBody":{"content":{"application/json":{"schema":{"properties":{"name":{"type":"string","example":"Data Parser Workflow"},"description":{"type":"string","example":"An optional description for this workflow"},"user_id":{"type":"string","format":"uuid","example":"00000000-0000-0000-0000-000000000001"}}}}}},"responses":{"201":{"$ref":"#/components/responses/NewWorkflowResponse"},"400":{"description":"invalid input, object invalid due to missing team_id, user_id or name."},"422":{"description":"Unprocessable Entity. A request parameter was malformed or missing.","content":{"application/json":{"schema":{"properties":{"name":{"type":"string","example":"must be present"}}}}}}}}},"/workflows/{workflow_id}/launch":{"servers":[{"url":"https://api-beta.appen.com/v2","description":"Production Server - Latest API"}],"post":{"tags":["Workflows"],"summary":"Launch a Workflow.","description":"Launches the Workflow to contributors, models to predict and/or scripts.","parameters":[{"$ref":"#/components/parameters/workflow_id_param"},{"$ref":"#/components/parameters/launch_rows_query"},{"$ref":"#/components/parameters/api_key"}],"responses":{"202":{"description":"Accepted, i.e. row launch action was triggered and workflow data ingestion is being kicked off.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Workflow"}}}},"400":{"description":"Bad Request. You failed to pass one or more required parameters.","content":{"application/json":{"schema":{"properties":{"message":{"type":"string","example":"The request was invalid"}}}}}},"404":{"$ref":"#/components/responses/404"},"422":{"description":"Unprocessable Entity. A request parameter was malformed or missing.","content":{"application/json":{"schema":{"properties":{"errors":{"type":"array","example":["Workflow has only 1000 rows to order"]}}}}}}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"curl -X POST \\\n\"https://api-beta.appen.com/v2/workflows/{workflow_id}/launch?&rows={num_rows_to_launch}\"\n-H \"Authorization: Token token={api_key}\" \\\n"}]}},"/workflows/{workflow_id}/pause":{"servers":[{"url":"https://api-beta.appen.com/v2","description":"Production Server - Latest API"}],"post":{"tags":["Workflows"],"summary":"Pause a Workflow.","description":"Pauses a Running state Workflow only.","parameters":[{"$ref":"#/components/parameters/workflow_id_param"},{"$ref":"#/components/parameters/api_key"}],"responses":{"202":{"description":"Accepted, i.e. action was triggered via AASM event or other method.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Workflow"}}}},"404":{"$ref":"#/components/responses/404"},"422":{"description":"Unprocessable Entity. A request parameter was malformed or missing.","content":{"application/json":{"schema":{"properties":{"errors":{"type":"array","example":["Error while configuring action 'pause' for step 1234. Make sure the job 1234567 exists and you own it."]}}}}}}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"curl -X POST \\\n\"https://api-beta.appen.com/v2/workflows/{workflow_id}/pause\" \\\n-H \"Authorization: Token token={api_key}\" \n"}]}},"/workflows/{workflow_id}/resume":{"servers":[{"url":"https://api-beta.appen.com/v2","description":"Production Server - Latest API"}],"post":{"tags":["Workflows"],"summary":"Resume a paused Workflow.","description":"Resumes a Paused state Workflow only.","parameters":[{"$ref":"#/components/parameters/workflow_id_param"},{"$ref":"#/components/parameters/api_key"}],"responses":{"202":{"description":"Accepted, i.e. action was triggered via AASM event or other method.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Workflow"}}}},"404":{"$ref":"#/components/responses/404"},"422":{"description":"Unprocessable Entity. A request parameter was malformed or missing.","content":{"application/json":{"schema":{"properties":{"errors":{"type":"array","example":["The workflow is already running"]}}}}}}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"curl -X POST \\\n\"https://api-beta.appen.com/v2/workflows/{workflow_id}/resume\"\n-H \"Authorization: Token token={api_key}\" \n"}]}},"/workflows/{workflow_id}/copy":{"servers":[{"url":"https://api-beta.appen.com/v2","description":"Production Server - Latest API"}],"post":{"tags":["Workflows"],"summary":"Copy an existing Workflow.","description":"Copy a new, paused or finished Workflow.","parameters":[{"$ref":"#/components/parameters/workflow_id_param"},{"$ref":"#/components/parameters/api_key"}],"requestBody":{"content":{"application/json":{"schema":{"properties":{"name":{"type":"string","example":"new workflow"}}}}}},"responses":{"201":{"description":"Copy service was able to copy workflow configuration successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Workflow"}}}},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"422":{"description":"Unprocessable Entity. A request parameter was malformed or missing.","content":{"application/json":{"schema":{"properties":{"errors":{"type":"array","example":["Workflow cannot be copied"]}}}}}}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"curl -X POST \\\n\"https://api-beta.appen.com/v2/workflows/{workflow_id}/copy\"\n-H \"Authorization: Token token={api_key}\" \n"}]}},"/workflows/{workflow_id}/poll":{"servers":[{"url":"https://api-beta.appen.com/v2","description":"Production Server - Latest API"}],"get":{"tags":["Workflows"],"summary":"Poll the current state and metadata for a workflow","parameters":[{"$ref":"#/components/parameters/workflow_id_param"},{"$ref":"#/components/parameters/api_key"}],"responses":{"200":{"description":"Workflow JSON","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowCompact"}}}},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"curl -X GET \\\n\"https://api-beta.appen.com/v2/workflows/{workflow_id}/poll\"\n-H \"Authorization: Token token={api_key}\"\n"}]}},"/workflows/{workflow_id}":{"servers":[{"url":"https://api-beta.appen.com/v2","description":"Production Server - Latest API"}],"get":{"tags":["Workflows"],"summary":"Get current workflow config","parameters":[{"$ref":"#/components/parameters/workflow_id_param"},{"$ref":"#/components/parameters/api_key"}],"responses":{"200":{"description":"Workflow JSON","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Workflow"}}}},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"422":{"$ref":"#/components/responses/422"}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"curl -X GET \\\n\"https://api-beta.appen.com/v2/workflows/{workflow_id}\" \\\n-H \"Authorization: Token token={api_key}\"\n"}]},"patch":{"tags":["Workflows"],"summary":"Partially update a Workflow.","description":"Update specific attributes of a given workflow, such as name or description.","parameters":[{"$ref":"#/components/parameters/workflow_id_param"}],"requestBody":{"content":{"application/json":{"schema":{"properties":{"name":{"type":"string","example":"Data Parser Workflow"},"description":{"type":"string","example":"An optional description for this workflow"},"user_id":{"type":"string","format":"uuid","example":"00000000-0000-0000-0000-000000000001"}}}}}},"responses":{"200":{"$ref":"#/components/responses/NewWorkflowResponse"},"400":{"description":"invalid input, object invalid due to missing team_id, user_id or name."},"422":{"description":"Unprocessable Entity. A request parameter was malformed or missing.","content":{"application/json":{"schema":{"properties":{"name":{"type":"string","example":"must be present"}}}}}}}},"delete":{"tags":["Workflows"],"summary":"Deletes a workflow.","description":"Workflow deletion works only before first launch.","parameters":[{"$ref":"#/components/parameters/workflow_id_param"}],"responses":{"200":{"description":"Workflow successfully deleted"},"403":{"description":"Delete Forbidden","content":{"application/json":{"schema":{"properties":{"errors":{"type":"array","example":["Workflows cannot be deleted once they have been launched"]}}}}}}}}},"/workflows/{workflow_id}/upload":{"servers":[{"url":"https://api-beta.appen.com/v2","description":"Production Server - Latest API"}],"post":{"tags":["Workflow Data Upload/Download"],"summary":"Upload data for the workflow.","description":"Archive the file to the cloud, verify the structure is compatible with the workflow input step, and make the rows available to launch. Available file formats: CSV, TSV, JSON, JSONL, XLS, XLSX, ODS.","parameters":[{"$ref":"#/components/parameters/workflow_id_param"},{"$ref":"#/components/parameters/api_key"}],"responses":{"201":{"description":"Data uploaded successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataOrder"}}}},"404":{"$ref":"#/components/responses/404"},"422":{"$ref":"#/components/responses/422"}},"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"description":"The file to upload.","type":"string","format":"binary"}},"required":["file"]}}}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"curl -X POST \\\n\"https://api-beta.appen.com/v2/workflows/{workflow_id}/upload\" \\\n-H \"Authorization: Token token={api_key}\" \\\n-F file=@\"./path/to/data/file.csv\"\n"}]}},"/workflows/{workflow_id}/report/download":{"servers":[{"url":"https://api-beta.appen.com/v2","description":"Production Server - Latest API"}],"get":{"tags":["Workflow Data Upload/Download"],"summary":"Download Full or Source data workflow report","description":"Generated workflow in Zip archive if report link is present and report file exists. Full report is in CSV format and contains data from each Workflow Step. Source report contains original uploaded files in Zip archive.","parameters":[{"$ref":"#/components/parameters/workflow_id_param"},{"name":"type","in":"query","required":true,"description":"Report type. can be 'full' or 'source'","schema":{"type":"string","example":"full"}}],"responses":{"404":{"description":"No report link to download","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Error: No TYPE report generated for workflow ID"}}}}}},"204":{"description":"Generation is in progress","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"TYPE report for workflow ID is being generated"}}}}}},"200":{"description":"Report ready for download,  zipped report contents in body","content":{"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}}},"x-code-samples":[{"lang":"Shell","label":"cURL","source":"curl -vOJ \\\n\"https://api-beta.appen.com/v2/workflows/{workflow_id}/report/download\" \\\n-H \"Authorization: Token token={api_key}\" \\\n2&>1 | grep -e HTTP -e filename\n"}]}},"/workflows/{workflow_id}/steps":{"post":{"tags":["Workflow Steps"],"summary":"Create Workflow Steps","description":"Create a new **WorkflowStep** to allow routing data between various data processors. Note only job_id, mlapi_id or script_id must be provided.","parameters":[{"$ref":"#/components/parameters/workflow_id_param"}],"responses":{"201":{"description":"The response of a workflow step","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowStepNew"}}}},"422":{"description":"Unprocessable Entity. A request parameter was malformed or missing.","content":{"application/json":{"schema":{"properties":{"job_id":{"type":"string","example":"must be present"}}}}}}},"requestBody":{"content":{"application/json":{"schema":{"properties":{"job_id":{"description":"ID of the Job","type":"integer","example":1234567},"mlapi_id":{"description":"ID of the Model","type":"integer","example":2345},"script_id":{"description":"ID of the Script","type":"integer","example":3456}}}}},"description":"List of steps","required":true}},"get":{"tags":["Workflow Steps"],"summary":"Collection of Workflow Steps","parameters":[{"$ref":"#/components/parameters/workflow_id_param"}],"responses":{"200":{"$ref":"#/components/responses/WorkflowStepsResponse"}}}},"/workflows/{workflow_id}/steps/{step_id}":{"patch":{"tags":["Workflow Steps"],"summary":"Update a Workflow Step","description":"Change the data processor info _(i.e. `job_id`)_ or `step_number` of an existing **WorkflowStep** to allow routing data between various data processors.","parameters":[{"$ref":"#/components/parameters/workflow_id_param"},{"$ref":"#/components/parameters/workflow_step_id_param"}],"responses":{"200":{"$ref":"#/components/responses/WorkflowStepResponse"},"422":{"description":"Unprocessable Entity. A request parameter was malformed or missing.","content":{"application/json":{"schema":{"properties":{"job_id":{"type":"string","example":"must be present"}}}}}}},"requestBody":{"content":{"application/json":{"schema":{"properties":{"data_processor_type":{"type":"string","example":"Builder::Job"},"data_processor_id":{"type":"string","example":"1234567"}}}}},"required":true}},"delete":{"tags":["Workflow Steps"],"summary":"Delete a workflow step","description":"Delete the **WorkflowStep** record from the **Workflow**","parameters":[{"$ref":"#/components/parameters/workflow_id_param"},{"$ref":"#/components/parameters/workflow_step_id_param"}],"responses":{"200":{"description":"Step deleted"},"404":{"description":"Workflow or step specified by id params not found in database."}}}},"/workflows/{workflow_id}/steps/{step_id}/routes":{"parameters":[{"$ref":"#/components/parameters/workflow_id_param"},{"$ref":"#/components/parameters/workflow_step_id_param"}],"post":{"tags":["Workflow Step Routes"],"summary":"Create a new workflow route","description":"Create a configuration object for routing data coming out of the data processor in the step specified by `workflow_step_id` to the step specified by `destination_step_id`.\nThink of `workflow_step` and `destination_step` as _nodes_ in the Workflow's configuration 'graph' and this route as the _edge_ between them.","requestBody":{"content":{"application/json":{"schema":{"properties":{"destination_step_id":{"type":"integer","example":19},"filter_rules_attributes":{"type":"array","items":{"$ref":"#/components/schemas/FilterRuleNew"}}}}}},"required":true},"responses":{"201":{"description":"Route created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StepRoute"}}}},"404":{"description":"Workflow or step specified by id params not found in the database or does not belong to the customer."},"422":{"description":"Unprocessable Entity. A request parameter was malformed or missing.","content":{"application/json":{"schema":{"properties":{"destination_step_id":{"type":"string","example":"must be present"}}}}}}}},"get":{"tags":["Workflow Step Routes"],"summary":"View the list of routes associated with a Step.","description":"List routes for a Workflow Step. \\\nNote that one workflow step can route to __multiple__ destination steps _(or the same step with different filter rules)_ by creating multiple StepRoutes ","responses":{"200":{"description":"OK - List of Routes for moving data from step to step.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StepRoute"}}}}},"404":{"description":"Workflow or step specified by id params not found in the database or does not belong to the customer."}}}},"/workflows/{workflow_id}/steps/{step_id}/routes/{route_id}":{"parameters":[{"$ref":"#/components/parameters/workflow_id_param"},{"$ref":"#/components/parameters/workflow_step_id_param"},{"$ref":"#/components/parameters/route_id_path"}],"patch":{"tags":["Workflow Step Routes"],"summary":"Change route destination and filter rules.","description":"Update a step route by changing the destination step Think of `workflow_step` and `destination_step` as _nodes_ in the Workflow's configuration 'graph' and this route as the _edge_ between them.","requestBody":{"content":{"application/json":{"schema":{"properties":{"destination_step_id":{"type":"integer","example":19},"filter_rules_attributes":{"type":"array","items":{"$ref":"#/components/schemas/FilterRulePatch"}}}}}},"required":true},"responses":{"200":{"description":"Route updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StepRoute"}}}},"404":{"description":"Workflow, step or route specified by id params not found in the database or does not belong to the customer."},"422":{"description":"Unprocessable Entity. A request parameter was malformed or missing.","content":{"application/json":{"schema":{"properties":{"destination_step_id":{"type":"string","example":"must be present"}}}}}}}},"delete":{"tags":["Workflow Step Routes"],"summary":"Delete a route associated with a Step.","description":"Delete the **StepRoute** record that joins two **Steps** and holds the rules for routing the data between steps.","parameters":[{"$ref":"#/components/parameters/workflow_id_param"},{"$ref":"#/components/parameters/workflow_step_id_param"},{"$ref":"#/components/parameters/route_id_path"}],"responses":{"200":{"description":"Route and its filter rules deleted"},"404":{"description":"Workflow, step or route specified by id params not found in the database or does not belong to the customer."}}}},"/step_routes/{route_id}/filter_rules":{"parameters":[{"$ref":"#/components/parameters/route_id_path"}],"post":{"tags":["Workflow Filter Rules"],"summary":"Create a FilterRule for the step","description":"Create a configuration object for filtering data moving between steps. FilterRules determine whether the output of a step is qualified for forwarding to a destination step.\nThink of the `route` as a _pipe_ between the steps' input and output 'pools' and the filter rule as filter that only allows data \"particles\" of a certain size or shape through.","requestBody":{"$ref":"#/components/requestBodies/FilterRule"},"responses":{"201":{"description":"Rule created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterRule"}}}},"404":{"description":"Route specified by id param not found in the database or does not belong to the customer."},"422":{"description":"Unprocessable Entity. A request parameter was malformed or missing.","content":{"application/json":{"schema":{"properties":{"errors":{"type":"array","example":["comparison_operation must be present"]}}}}}}}},"get":{"tags":["Workflow Filter Rules"],"summary":"View the list of filter rules associated with a Route.","description":"Displays a list of filter rules for a particular Route within a Workflow.","responses":{"200":{"description":"OK - List of filter rules for the route.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FilterRule"}}}}},"404":{"description":"Route specified by id param not found in the database or does not belong to the customer."}}}},"/step_routes/{route_id}/filter_rules/{rule_id}":{"parameters":[{"$ref":"#/components/parameters/route_id_path"},{"$ref":"#/components/parameters/rule_id_path"}],"patch":{"tags":["Workflow Filter Rules"],"summary":"Update a Rule associated with a Route.","description":"Update the **FilterRule** record that configures some or all of the filtering of data between two **Steps**.","requestBody":{"$ref":"#/components/requestBodies/FilterRule"},"responses":{"200":{"description":"Rule updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterRule"}}}},"404":{"description":"Route or Filter Rule specified by id params not found in the database or does not belong to the customer."},"422":{"description":"Unprocessable Entity. A request parameter was malformed or missing.","content":{"application/json":{"schema":{"properties":{"errors":{"type":"array","example":["comparison_operation must be present"]}}}}}}}},"delete":{"tags":["Workflow Filter Rules"],"summary":"Delete a rule associated with a Route.","description":"Delete the **FilterRule** record that configures some or all of the filtering of data between two **Steps**.","parameters":[{"$ref":"#/components/parameters/route_id_path"},{"$ref":"#/components/parameters/rule_id_path"}],"responses":{"200":{"description":"Filter Rule deleted."},"404":{"description":"Route or Filter Rule specified by id params not found in the database or does not belong to the customer."}}}}},"components":{"parameters":{"api_key":{"name":"key","in":"query","required":true,"description":"Your personal Appen API key; used to access the Appen platform. Can be found in your [account settings](https://client.appen.com/account/api). Variable name: `{api_key}`. \n","schema":{"type":"string"}},"channel_id":{"in":"query","name":"channel_id","description":"A unique identifier for a group of contributors. Variable name: `{channel_id}`. \n","required":true,"schema":{"type":"string"}},"contributor_id":{"name":"contributor_id","in":"path","required":true,"description":"A unique identifier for an individual contributor who provides judgements (annotations) on units. Variable name: `{contributor_id}`. \n","schema":{"type":"integer","format":"int32"}},"job_id":{"in":"path","name":"job_id","description":"A unique identifier for a job or task that is distributed to contributors. Variable name: `{job_id}`. \n","required":true,"schema":{"$ref":"#/components/schemas/new_job_id"}},"unit_id":{"name":"unit_id","in":"path","required":true,"description":"A unique identifier for a row of data that has been loaded into the system. Variable name: `{unit_id}`. \n","schema":{"type":"integer","format":"int32"}},"team_id":{"name":"team_id","in":"query","required":false,"description":"A unique identifier for your team. Often used to scope query results and available jobs, models, or scripts. Variable name: `{team_id}`. \n","schema":{"type":"string"}},"type":{"name":"type","in":"query","required":true,"description":"Specifies the type of report to generate or download, valid values include:\n- **full** - Returns the Full report containing every judgment.\n- **aggregated** - Returns the Aggregated report containing the aggregated response for each row.\n- **json** - Returns the JSON report containing the aggregated response, as well as the individual judgments.\n- **gold_report** - Returns the Test Question report.\n- **workset** - Returns the Contributor report.\n- **source** - Returns a CSV of the source data uploaded to the job.\n","schema":{"type":"string"}},"page":{"in":"query","name":"page","description":"A desired page of paginated results to return. \n","required":false,"schema":{"type":"integer"}},"workflow_id_param":{"in":"path","name":"workflow_id","required":true,"schema":{"type":"integer"},"description":"The `id` of a **Workflow** belonging to the **Requestor** or accessible to the **Admin**.","example":123},"workflow_step_id_param":{"in":"path","name":"step_id","required":true,"description":"Workflow Step database ID","schema":{"type":"integer"},"example":2345},"route_id_path":{"name":"route_id","in":"path","required":true,"description":"Step Route database ID","schema":{"type":"integer"},"example":3456},"rule_id_path":{"name":"rule_id","in":"path","required":true,"description":"Filter Rule database ID","schema":{"type":"integer"},"example":4567},"launch_rows_query":{"in":"query","name":"rows","required":true,"schema":{"type":"integer"},"description":"The number of rows to launch through the specified workflow"}},"responses":{"200":{"description":"200: The request was processed successfully."},"202":{"description":"Accepted. We have accepted your request, and it has been queued for\nprocessing. The body of this response indicates when to try the request\nagain.\n"},"302":{"description":"Redirect. We are redirecting you to a resource. The body of this response often\ncontains a message.\n"},"400":{"description":"Bad Request. You failed to pass one or more required parameters.\n"},"401-Unauthenticated":{"description":"Authorization failed, check your key.\n"},"402":{"description":"Payment Required. The operation you are trying to complete requires payment. \n"},"404":{"description":"Not Found. The resource you are referencing does not exist, or you don''t own it.\n"},"403":{"description":"Access Denied. You do not have permission to access the resource you are referencing.\n"},"405":{"description":"Method Not Allowed. The method you are using (GET, POST, PUT, DELETE) is not available from\nthis URL.\n"},"406":{"description":"Not Acceptable. The format you requested is not available.\n"},"422":{"description":"Unprocessable Entity. A request parameter was malformed or missing.\n"},"422_unit_limit":{"description":"Unit Limit Reached. You have uploaded the maximum amount of units (250,000) allowed in a\njob.\n"},"429":{"description":"Too Many Requests. You have exceeded our rate limit. \n"},"500":{"description":"Internal Server Error. An error occurred on the server.\n"},"NewWorkflowResponse":{"description":"The response of a new workflow","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","example":1234},"name":{"type":"string","example":"Data Parser Workflow"},"description":{"type":"string","example":"A sample description for this workflow"},"status":{"type":"string","example":"new"},"status_description":{"type":"string","example":null},"team_id":{"type":"string","format":"uuid","example":"00000000-0000-0000-0000-000000000002"},"orderer_rows":{"type":"integer","example":0},"created_at":{"description":"Timestamp of when the workflow was created","type":"string","format":"date-time","readOnly":true},"updated_at":{"description":"Timestamp of the last User or API action that changed a workflow state or setting","type":"string","format":"date-time","readOnly":true},"workflow_id":{"type":"integer","example":1234},"steps":{"type":"array","items":{"type":"object"},"example":[]},"url":{"type":"string","example":"https://api-beta.appen.com/v2/workflows/1234"}}}}}},"WorkflowStepsResponse":{"description":"The response of a workflow steps","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WorkflowStep"}}}}},"WorkflowStepResponse":{"description":"The response of a workflow step","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowStep"}}}}},"requestBodies":{"FilterRule":{"content":{"application/json":{"schema":{"type":"object","properties":{"filter_rule":{"type":"object","required":["comparison_field","comparison_value","comparison_operation","rule_connector"],"properties":{"id":{"type":"integer","example":956,"readOnly":true},"comparison_field":{"type":"string","example":"img_is_cat"},"comparison_operation":{"type":"string","enum":["==","<",">","!=","=~","<=",">="],"example":"=="},"comparison_value":{"type":"string","example":"true"},"rule_connector":{"type":"string","enum":["all","and","or","rnd","csp","els"],"example":"and"}}}}}}}}},"schemas":{"account":{"properties":{"id":{"type":"integer","format":"int64","readOnly":true,"example":1234},"email":{"type":"string","format":"email","readOnly":true,"example":"first.last@example-email.com"},"auth_code":{"type":"string","format":"byte","readOnly":true,"example":null},"first_name":{"type":"string","example":"First"},"last_name":{"type":"string","example":"Last"},"auth_key":{"type":"string","format":"byte","readOnly":true,"example":null},"akon_id":{"type":"string","format":"uuid","readOnly":true},"status":{"description":"Unused internal field","type":"string","default":"pending"},"created_at":{"type":"string","format":"datetime","readOnly":true},"job_template_id":{"type":"integer","format":"int64","readOnly":true,"default":null},"balance":{"description":"Current account balance in US cents. Can be replenished in the Funds tab of your Account page.","type":"integer","format":"int64","readOnly":true,"default":0},"api_team_id":{"type":"string","format":"uuid","readOnly":true}}},"new_job_id":{"description":"Integer identifier of the requested resource (Job, Unit, Workflow) used in API request paths and response bodies.","type":"integer","format":"int64","readOnly":true,"minimum":1,"maximum":9223372036854776000,"example":1234567},"job_copy_id":{"description":"Integer identifier of the requested resource (Job, Unit, Workflow) used in API request paths and response bodies.","type":"integer","format":"int64","readOnly":true,"minimum":1,"maximum":9223372036854776000,"example":1234568},"channels":{"properties":{"available_channels":{"type":"array","items":{"type":"string"},"example":["channelOne","channelTwo"]},"enabled_channels":{"type":"array","items":{"type":"string"},"example":["channelOne"]},"message":{"type":"string","example":"Individual channel targeting will be deprecated soon. Please see the Appen API documentation for more info."}}},"new_job":{"title":"new_job","properties":{"id":{"$ref":"#/components/schemas/new_job_id"},"options":{"description":"TBD","type":"object","default":{}},"title":{"type":"string","maxLength":254,"description":"The name of the Job, this will be shown to contributers looking for\ntasks to work on.\n","default":null,"example":"Select the animal types in the image."},"secret":{"type":"string","format":"byte","example":"aBcbdE01fgHijKL2mnopq3r45sTUVwxYzr6abCdeFg","readOnly":true},"project_number":{"type":"string","description":"Admin field","default":null},"alias":{"description":"Alternate \"human-readable\" identifier for Jobs, can be used in place\nof `job_id` in requests.\n","type":"string","default":null},"judgments_per_unit":{"type":"integer","format":"int32","description":"Number of judgments to collect for each Unit in the Job","default":3},"units_per_assignment":{"type":"integer","format":"int32","description":"Number of units to reserve for a single task assignment","default":5},"pages_per_assignment":{"type":"integer","format":"int32","description":"Number of pages to split a single assignment into","default":1},"max_judgments_per_worker":{"type":"integer","format":"int32","description":"Number of questions to limit a worker to across assignments for this Job","default":null},"gold_per_assignment":{"type":"integer","format":"int32","description":"Number of test questions to include with each assignment of units","default":1},"minimum_account_age_seconds":{"type":"integer","format":"int32","description":"Unused internal field","default":null},"execution_mode":{"type":"string","enum":["builder","worker_ui_remix","template","entrance_exam"],"default":"worker_ui_remix"},"payment_cents":{"type":"integer","format":"int32","description":"Amount to pay in US Cents per assignment","default":35},"design_verified":{"description":"`true` if the Job design has been inspected and approved by an admin.\n","type":"boolean","default":false,"readOnly":true},"public_data":{"description":"`true` if the Job is part of the **Data For Everyone** project.\n","type":"boolean","default":false,"readOnly":true},"variable_judgments_mode":{"type":"string","enum":["none","auto_confidence","external"],"default":"none"},"max_judgments_per_unit":{"type":"integer","format":"int32","description":"Maximum number of Judgments to allow per Contributor per Job","default":null},"expected_judgments_per_unit":{"type":"integer","format":"int32","description":"TBD","default":null},"min_unit_confidence":{"type":"integer","format":"int32","description":"TBD","default":null},"units_remain_finalized":{"description":"if `true`, once units have collected enough judgments they cannot be unfinalized.","type":"boolean","default":false},"auto_order_timeout":{"type":"integer","format":"int32","description":"Maximum number of seconds to wait before ordering last units to arrive for auto_order, whether or not the threshold has been reached.","default":null},"auto_order_threshold":{"type":"integer","format":"int32","description":"Minimum number of units to wait for before creating an assignment","default":4},"completed_at":{"type":"string","format":"date-time","readOnly":true,"default":null},"state":{"description":"Indicator of current part of the Job life-cycle","type":"string","enum":["unordered","running","paused","canceled","finished","locked_out","data_deleted","archiving","archived","launching"],"default":"unordered","readOnly":true},"auto_order":{"description":"if `true`, once enough new units are uploaded or the timeout is reached they will be automatically ordered.","type":"boolean","default":false},"webhook_uri":{"type":"string","format":"URL","description":"External URL to send finalized unit data","default":null},"send_judgments_webhook":{"type":"string","format":"URL","description":"External URL to send raw contributor annotation data","default":null},"language":{"type":"string","description":"The language the job instructions and questions are written in.","default":"en"},"minimum_requirements":{"type":"array","items":{"type":"string"},"description":"A list of qualifications contributors _must_ meet in order to participate in the Job","default":null},"desired_requirements":{"type":"array","items":{"type":"string"},"description":"A list of \"nice-to-have\" qualifications that make contributors a better fit as annotators for this Job","default":null},"team_id":{"type":"string","format":"uuid"},"max_work_per_network":{"type":"integer","format":"int32","description":"Maximum number of units that can be completed via one particular contributor channel.","default":null},"copied_from":{"type":"integer","format":"int64","description":"ID of the Job that was used as a template to create this job.","default":null},"assignment_duration":{"type":"integer","format":"int32","description":"The length in seconds to allow for completing a task. If this time expires before an assignment is complete the unfinished units will be released for assignment to another contributor.","default":1800},"created_at":{"description":"Timestamp of when the job was created","type":"string","format":"date-time","readOnly":true},"updated_at":{"description":"Timestamp of the last User or API action that changed a Job state or setting.","type":"string","format":"date-time","readOnly":true},"included_countries":{"description":"A whitelist of country codes designating countries where contributors **are allowed** to annotate. Only one of `included_countries` or `excluded_countries` can be set per Job.","type":"array","items":{"type":"string"},"default":null},"excluded_countries":{"description":"A blacklist of country codes designating countries where contributors **are _not_ allowed** to annotate. Only one of `included_countries` or `excluded_countries` can be set per Job.","type":"array","items":{"type":"string"},"default":null},"instructions":{"type":"string","description":"The instructions markup describing how to perform the requested\ntask.\n","default":""},"cml":{"type":"string","description":"The javascript escaped CML markup describing how to render the\nrequested task.\n","default":null,"example":"<h2>Collect Information</h2>\n<hr />\n<cml:radios label=\"Some Question?\" validates=\"required\"\nname=\"video_found\" gold=\"true\">\n<cml:radio label=\"Yes\"></cml:radio>\n<cml:radio label=\"No\"></cml:radio>\n</cml:radios>\n"},"js":{"type":"string","description":"Custom javascript functions for job CML","default":null},"css":{"type":"string","description":"Custom styles for the instructions and CML","default":null},"confidence_fields":{"description":"TBD","type":"array","items":{"type":"object"},"default":null},"gold":{"description":"TBD","type":"object","default":{}},"units_count":{"description":"Number of units in the Job","type":"integer","format":"int32","readOnly":true,"default":0},"golds_count":{"description":"Number of test questions in the Job","type":"integer","format":"int32","readOnly":true,"default":0},"judgments_count":{"description":"Number of collected judgments, determined by Job state and configured number of judgments per unit","type":"integer","format":"int32","readOnly":true,"default":0},"support_email":{"description":"Email of the user to be contacted in case of support issue.","type":"string","format":"email","example":"your.email@example-email.com"},"worker_ui_remix":{"description":"Unused internal value","type":"boolean","default":true,"readOnly":true},"crowd_costs":{"description":"US Cents spent on the job so far.","type":"integer","format":"int32","default":0,"readOnly":true},"quiz_mode_enabled":{"description":"`true` if Job has test question quality controls enabled. (requires\ntest questions in the unit data for the job to be launched)\n","type":"boolean","default":false,"readOnly":true},"completed":{"type":"boolean","default":false,"readOnly":true},"fields":{"description":"TBD","type":"array","items":{"type":"object"},"default":null,"readOnly":true},"order_approved":{"description":"**Admin field** `true` if this job is able to be launched. i.e. the ordering of Units has been approved","type":"boolean","default":false,"readOnly":true}}},"copied_job":{"allOf":[{"$ref":"#/components/schemas/new_job"},{"type":"object","properties":{"id":{"$ref":"#/components/schemas/job_copy_id"},"copied_from":{"$ref":"#/components/schemas/new_job_id"}}}]},"data_upload_job":{"allOf":[{"$ref":"#/components/schemas/new_job"},{"type":"object","properties":{"title":{"example":null},"instructions":{"example":""},"cml":{"example":null}}}]},"unit":{"properties":{"id":{"type":"integer","format":"int64","readOnly":true,"example":1234},"data":{"type":"object","example":{}},"judgments_count":{"type":"integer","format":"int32"},"state":{"type":"string","enum":["new","judgable","judging","judged","ordering","golden","hidden_gold","canceled","finalized","preprocessing"]},"agreement":{"type":"number","multipleOf":0.01},"missed_count":{"type":"integer","format":"int32"},"contested_count":{"type":"integer","format":"int32"},"gold_pool":{"type":"string"},"created_at":{"type":"string","format":"date-time","readOnly":true},"updated_at":{"type":"string","format":"date-time","readOnly":true},"job_id":{"type":"integer","format":"int32","readOnly":true,"example":425765}}},"WorkflowCompact":{"type":"object","required":["name","team_id","user_id"],"properties":{"id":{"type":"integer","example":79},"team_id":{"type":"string","format":"uuid","example":"4ff9bd89-4cc4-4324-a533-d8466d6596fe"},"user_id":{"type":"string","format":"uuid","example":"ec006e04-86d6-40d6-aaed-5d717a1be778"},"name":{"type":"string","example":"Three step image categorization and rating 001"},"description":{"type":"string","example":"Route cat images routed by categories (inferred by a model) to people to for rating cuteness."},"status":{"type":"string","example":"running"},"status_description":{"type":"string","example":null},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"}}},"Workflow":{"type":"object","required":["name","team_id","user_id"],"properties":{"id":{"type":"integer","example":79},"workflow_id":{"type":"integer","format":"string","deprecated":true},"team_id":{"type":"string","format":"uuid","example":"4ff9bd89-4cc4-4324-a533-d8466d6596fe"},"user_id":{"type":"string","format":"uuid","example":"ec006e04-86d6-40d6-aaed-5d717a1be778"},"name":{"type":"string","example":"Three step image categorization and rating 001"},"description":{"type":"string","example":"Route cat images routed by categories (inferred by a model) to people to for rating cuteness."},"status":{"type":"string","example":"paused"},"status_description":{"type":"string","example":"Paused by admin"},"created_at":{"type":"string","format":"date-time","readOnly":true},"updated_at":{"type":"string","format":"date-time","readOnly":true},"steps":{"type":"array","items":{"$ref":"#/components/schemas/WorkflowStep"}}}},"WorkflowStep":{"type":"object","required":["workflow_id","data_processor_type","data_processor_id"],"properties":{"id":{"type":"integer","example":79,"readOnly":true},"data_processor_id":{"type":"string","example":"1234567"},"data_processor_type":{"type":"string","readOnly":true,"example":"Builder::Job"},"created_at":{"type":"string","format":"date-time","readOnly":true},"updated_at":{"type":"string","format":"date-time","readOnly":true},"step_options":{"type":"object","example":{}},"routes":{"type":"array","items":{"$ref":"#/components/schemas/StepRoute"}}}},"WorkflowStepNew":{"type":"object","properties":{"id":{"type":"integer","example":79,"readOnly":true},"data_processor_id":{"type":"string","example":"1234567"},"data_processor_type":{"type":"string","readOnly":true,"example":"Builder::Job"},"created_at":{"type":"string","format":"date-time","readOnly":true},"updated_at":{"type":"string","format":"date-time","readOnly":true},"step_options":{"type":"object","example":{}},"routes":{"type":"array","items":{"$ref":"#/components/schemas/StepRoute"},"example":[]}}},"StepRoute":{"type":"object","required":["workflow_step_id","destination_step_id"],"properties":{"id":{"type":"integer","example":197,"readOnly":true},"workflow_step_id":{"type":"integer","example":79},"destination_step_id":{"type":"integer","example":80},"created_at":{"type":"string","format":"date-time","readOnly":true},"updated_at":{"type":"string","format":"date-time","readOnly":true},"filter_rules":{"type":"array","items":{"$ref":"#/components/schemas/FilterRule"}}}},"FilterRule":{"type":"object","required":["comparison_field","comparison_value","comparison_operation","rule_connector"],"properties":{"id":{"type":"integer","example":956,"readOnly":true},"comparison_field":{"type":"string","example":"img_is_cat"},"comparison_operation":{"type":"string","enum":["==","<",">","!=","=~","<=",">="],"example":"=="},"comparison_value":{"type":"string","example":"true"},"rule_connector":{"type":"string","enum":["all","and","or","rnd","csp","els"],"example":"and"},"created_at":{"type":"string","format":"date-time","readOnly":true},"updated_at":{"type":"string","format":"date-time","readOnly":true}}},"FilterRuleNew":{"type":"object","required":["comparison_field","comparison_value","comparison_operation","rule_connector"],"properties":{"id":{"type":"integer","example":956,"readOnly":true},"comparison_field":{"type":"string","example":"img_is_cat"},"comparison_operation":{"type":"string","enum":["==","<",">","!=","=~","<=",">="],"example":"=="},"comparison_value":{"type":"string","example":"true"},"rule_connector":{"type":"string","enum":["all","and","or","rnd","csp","els"],"example":"and"}}},"FilterRulePatch":{"type":"object","required":["id","comparison_field","comparison_value","comparison_operation","rule_connector"],"properties":{"id":{"type":"integer","example":956},"comparison_field":{"type":"string","example":"img_is_cat"},"comparison_operation":{"type":"string","enum":["==","<",">","!=","=~","<=",">="],"example":"=="},"comparison_value":{"type":"string","example":"true"},"rule_connector":{"type":"string","enum":["all","and","or","rnd","csp","els"],"example":"and"},"_destroy":{"type":"boolean","example":true,"description":"Indicates that this filter rule should be deleted"}}},"DataOrder":{"type":"object","properties":{"id":{"type":"integer","example":72,"readOnly":true},"data_upload_id":{"type":"integer","example":1,"readOnly":true},"workflow_id":{"type":"integer","example":47,"readOnly":true},"state":{"type":"string","example":"Some name or description or title, etc..."},"created_at":{"type":"string","format":"date-time","readOnly":true},"updated_at":{"type":"string","format":"date-time","readOnly":true}}},"ontology":{"description":"A JSON array representing the Ontology.","type":"array","items":{"type":"object","properties":{"class_name":{"type":"string"},"display_color":{"description":"Must be a hex color string e.g. (#F42069)","type":"string"},"description":{"type":"string"}},"required":["class_name"]}}}}}